%div.row.justify-content-center.py-5
  %div.col-8.col-sm-7.col-md-6.col-md-5.col-lg-4
    %h2 Resend confirmation instructions
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field.form-group
        = f.label :email, class: 'form-label'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
      .actions
        = f.submit "Resend confirmation instructions", class: 'btn btn-success mb-2'
    = render "devise/shared/links"
