%div.form-group
  = form.label :title, class: 'form-label'
  = form.text_field :title, class: 'form-control'

%div.form-group
  = form.label :feature_image, t('admin.article.display_image'), class: 'form-label'
  = form.file_field :feature_image, class: 'd-block'
  - if @article.feature_image.attached?
    = image_tag @article.feature_image, class: 'w-25'

%div.form-group
  = form.label :body, class: 'form-label'
  = form.rich_text_area :body

%div.form-group.clearfix
  = link_to "Cancel", :back, class: 'btn btn-danger'
  - if @article.new_record?
    = form.submit "Create", class: 'btn btn-success float-right'
  - else
    = form.submit "Save", class: 'btn btn-success float-right'
