%div.message-aside-container.row.mx-0.mt-5
  = render partial: 'aside'
  %div.col-sm-12.col-md-7
    %div.container-fluid.mb-3
      %h1.h3= @message.title
    %div.ml-5
      %div.message-details.mb-3
        %p.mb-0
          %strong= "#{t('admin.message.tag')}: "
          = @message.about
        %p.mb-0
          %strong= "#{t('admin.message.from')}: "
          = @message.author
        - if @message.phone.present?
          %p.mb-0
            %strong= "#{t('admin.message.phone_number')}: "
            = @message.phone
        - if @message.email.present?
          %p.mb-0
            %strong= "#{t('admin.message.email')}: "
            = @message.email
        %p.my-3.d-inline-flex.align-items-center
          - if @message.replied?
            %span.message-replied-check-container.d-inline-flex.justify-content-center.align-items-center.mr-2
              %span.checkmark.message-replied-check
            %strong.text-success= t('admin.message.user_replied', email: @message.replied_by)
          - else
            %span.message-replied-cross-container.cross-container.d-flex.justify-content-center.align-items-center.text-danger.mr-2
              %span.message-replied-cross.cross.cross--left.text-white
              %span.message-replied-cross.cross.cross--right.text-white
            %strong.mr-3.text-danger= t('admin.message.unreplied')
            %button#message-replied-button.btn.btn-warning.btn-sm{ |
              'data-confirm-message': t('admin.are_you_sure'), |
              'data-url': admin_message_replied_url |
            } |
              %strong.text-dark= t('admin.message.mark_replied')
      %div.ml-2.message-body
        %strong.ml-n2= "#{t('admin.message.message')}: "
        %p= @message.body

= content_for :turbolinks_pack do
  = javascript_pack_tag 'admin_message', 'data-turbolinks-track': 'reload', 'defer': 'defer'
