%div.row.justify-content-center.py-5
  %div.col-8.col-sm-7.col-md-6.col-md-5.col-lg-4
    %h2= t('devise.sessions.change_your')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      = f.hidden_field :reset_password_token
      .field.form-group
        = f.label :password, t('devise.sessions.new_password'), class: 'form-label'
        %br/
        - if @minimum_password_length
          %em
            = t('devise.sessions.minimum', length: @minimum_password_length)
          %br/
        = f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control'
      .field.form-group
        = f.label :password_confirmation, t('devise.sessions.confirm'), class: 'form-label'
        %br/
        = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
      .actions
        = f.submit t('devise.sessions.change_my'), class: 'btn btn-success mb-2'
    = render 'devise/shared/links'
