%h1= t('home')

%h2= t('latest')

%section
  %h3= t('articles')
  - if @latest[:articles].present?
    - @latest[:articles].each do |article|
      %h4= article.title
      %p= "#{t('created')}: #{l(article.created_at, format: :publishing)}"
      = link_to t('view'), article_path(article)
    = link_to t('view_all'), articles_path
  - else
    %p= t('no_articles')

%section
  %h3= t('products')
  - if @latest[:products].present?
    - @latest[:products].each do |product|
      %h4= product.name
      %p= "#{t('created')}: #{l(product.created_at, format: :publishing)}"
      = link_to t('view'), product_path(product)
    = link_to t('view_all'), products_path
  - else
    %p= t('no_products')
