%div.jumbotron.jumbotron-fluid.jumbotron-top.jumbotron--home
  %div.text-center.container.jumbotron-container.shadow--light
    %h1= t('home.title')
    %p.lead= t('home.lead')

%div.container-fluid.container--home-gallery.mb-5
  %div.row
    %div.col-12.col-md-9
      %div.jumbotron.jumbotron-fluid.jumbotron-gallery.text-center#jumbotron-gallery
        %div.jumbotron-background-container
          - if @gallery_images.present?
            %img.jumbotron-background#jumbotron-background{ 'data-paths': @gallery_images.map{ |i| i.imgproxy_url(width: @image_width) }, 'src': @gallery_images.first.imgproxy_url(width: @image_width) }
        %div.container.jumbotron-container
          %h2.jumbotron-gallery-title.display-4= t('home.gallery')
          = link_to t('home.see_designs'), gallery_path, class: 'btn btn-lg jumbotron-gallery-cta d-block mx-auto'
    %div.col-md-3
      %h2= t('home.categories')
      - if @categories.present?
        %ul.list-group.list-group-flush.categories-list
          - @categories.each do |cat|
            %button.h5.mb-0.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.categories-list-item.asdf
              %span.category-highlight
              = link_to cat.name, gallery_path(cat.slug), class: 'stretched-link'
              %span.badge.badge-primary.badge-pill.float-right.font-weight-normal.text-monospace= cat.product_count

.floating-logo#floating-logo
  %img.floating-logo-image{ src: image_path('main-page-logo.png') }

- content_for :turbolinks_pack do
  = javascript_pack_tag 'home_gallery', 'data-turbolinks-track': 'reload', 'defer': 'defer'

- content_for :turbolinks_pack do
  = javascript_pack_tag 'floating_logo', 'data-turbolinks-track': 'reload', 'defer': 'defer'
