%div.jumbotron.jumbotron-fluid.jumbotron-top.jumbotron--home
  %div.container.jumbotron-container.shadow--light
    %h1.display-4= t('home.title')
    %p.lead= t('home.lead')

%div.container-fluid.container--home-gallery.mb-5
  %div.row
    %div.col-12.col-md-9
      %div.jumbotron.jumbotron-fluid.jumbotron-gallery.text-center#jumbotron-gallery
        %div.jumbotron-background-container
          %img.jumbotron-background#jumbotron-background{ 'data-paths': @gallery_images.map{ |i| url_for(i) }, 'src': url_for(@gallery_images.first) }
        %div.container.jumbotron-container
          %h2.display-4 Gallery
          %p.lead See our selection of fabrics!
          %hr.my-4
          = link_to 'See Our Designs', gallery_path, class: 'btn btn-lg jumbotron-gallery-cta'
    %div.col-md-3
      %h2 Categories
      %ul.list-group.list-group-flush
        - @categories.each do |cat|
          %button.list-group-item.list-group-item-action
            %span.category-highlight
            = link_to cat.name, gallery_path(cat.slug)

.blue-lavender-square
  = render :partial => 'decorative_patches/purple_square', :locals => { patch_color: '#c76da9', image: image_path('/textures/blue_lavender.jpg') }

- content_for :turbolinks_pack do
  = javascript_pack_tag 'home_gallery', 'data-turbolinks-track': 'reload', 'defer': 'defer'
