%div.d-none.d-lg-block#desktop-gallery-detector{ style: 'height: 0; width: 1px' }

%div.gallery-container
  %h1.pb-3.d-lg-none.text-center.gallery-title#gallery= t('_gallery')

  %nav
    %div.nav.nav-tabs.gallery-nav-tabs#gallery-tab{ role: 'tablist' }
      %a.nav-item.nav-link.gallery-nav-item.active#gallery-results-tab{ 'data-toggle': 'tab', href: '#gallery-results', role: 'tab', aria: { controls: 'gallery-results', selected: 'true' } }
        = t('gallery.results')
      %a.nav-item.nav-link.gallery-nav-item#gallery-filters-tab{ 'data-toggle': 'tab', href: '#gallery-filters', role: 'tab', aria: { controls: 'gallery-filters', selected: 'false' } }
        = t('gallery.filters')

  %div.text-center.tab-content.gallery-tab-content.py-2#gallery-tab-content
    %div.tab-pane.gallery-tab-pane.gallery-tab-pane--results.fade.show.active#gallery-results{ role: 'tabpanel', 'aria-labelled-by': 'gallery-results-tab' }
      %h1.d-none.d-lg-block.text-center.gallery-title= t('_gallery')
      - if @products.empty?
        = render :partial => 'no_results'
      - else
        %div.infinite-scroll-container.fade#infinite-scroll-container{ data: { 'current-page': 0, 'last-page': @products.last_page?.to_s, 'url': gallery_url(filter: params[:filter]), fader: true } }
          = render :partial => 'page', locals: { page_number: 0, products: @products }

    %div.tab-pane.gallery-tab-pane.gallery-tab-pane--filters.fade#gallery-filters{ role: 'tabpanel', 'arial-labelled-by': 'gallery-filters-tab' }
      = render :partial => 'filters', locals: { categories: @categories, active_filters: @active_filters }

%button.btn.btn-primary.btn-lg.gallery-scroll-top#gallery-scroll-top
  = t('gallery.top')

- content_for :turbolinks_pack do
  = javascript_pack_tag 'gallery', 'data-turbolinks-track': 'reload'

- content_for :page_specific_styles do
  = stylesheet_link_tag 'gallery', 'data-turbolinks-track': 'reload'
