%div.form-group.w-25
  = form.label :name, class: 'form-label'
  = form.text_field :name, class: 'form-control'

%div.form-group.clearfix
  = link_to "Cancel", :back, class: 'btn btn-danger'
  - if @category.new_record?
    = form.submit "Create", class: 'btn btn-success float-right'
  - else
    = form.submit "Save", class: 'btn btn-success float-right'
