= form.hidden_field :description, id: 'trix-content'

%div.form-group
  = form.label :name, class: 'form-label'
  = form.text_field :name, class: 'form-control'

%div.form-group
  = form.label :primary_image, t('admin.product.display_image'), class: 'form-label'
  = form.file_field :primary_image, class: 'd-block'
  - if @product.primary_image.attached?
    = image_tag @product.primary_image, class: 'w-25'

%div.form-group
  = form.label :price, class: 'form-label'
  = form.number_field :price, { step: 1, min: 0, class: 'form-control' }

/ %div
/   = form.label :currency
/   = form.select :currency

%div.form-group
  = form.label :description, class: 'form-label'
  %trix-editor{ input: 'trix-content' }

%div.form-group.clearfix
  = link_to "Cancel", :back, class: 'btn btn-danger'
  - if @product.new_record?
    = form.submit "Create", class: 'btn btn-success float-right'
  - else
    = form.submit "Save", class: 'btn btn-success float-right'
