%h1.mt-5.mb-4
  = t('admin.products')
  = link_to t('admin.create_new'), new_admin_product_path, class: 'btn btn-sm btn-success ml-3'

%div.container
  %div.row.mt-3
    %ul.justify-content-around.navbar-nav.mr-auto.flex-row.w-100.mb-3
      %li.nav-item
        = link_to 'Name', admin_products_path(order_by: :name, order: @order == 'asc' ? :desc : :asc), class: 'p-2'
        - if @order_by == 'name'
          %span= (@order == 'asc' ? '&#8595;' : '&#8593;').html_safe
      %li.nav-item
        = link_to 'Created At', admin_products_path(order_by: :created_at, order: @order == 'asc' ? :desc : :asc), class: 'p-2'
        - if @order_by == 'created_at'
          %span= (@order == 'asc' ? '&#8595;' : '&#8593;').html_safe
      %li.nav-item
        = link_to 'Updated At', admin_products_path(order_by: :updated_at, order: @order == 'asc' ? :desc : :asc), class: 'p-2'
        - if @order_by == 'updated_at'
          %span= (@order == 'asc' ? '&#8595;' : '&#8593;').html_safe
  %div.row.mb-5
    - @products.each do |product|
      %div.media.mb-4.col-sm-12.col-md-6.col-xl-4
        - if product.gallery_image.attached?
          = image_tag product.gallery_image.imgproxy_url(width: 48, height: 48), class: 'mr-3'
        - else
          %div.mr-3.placeholder-image{ style: 'width: 3rem; height: 3rem; font-size: 6px' }
        %div.media-body
          %h5.mt-0.mb-1
            = product.name
          = succeed " | " do
            = link_to t('admin.page'), product_path(product)
          = link_to t('admin.edit'), edit_admin_product_path(product)
          %small
            = t('admin.created', date: l(product.created_at, format: :record))
          = link_to t('admin.view_messages'), admin_messages_path({ filter_type: 'product', keyword: product.id }), class: 'd-block'
