%div.container-fluid.about-title-container
  %h1.about-title.text-center= t('about.title')

%div.container-fluid.px-0.about-description
  %div.container-fluid.about-container.about-container--sivumbike
    %p.about-description--sivumbike.about-description--paragraph= t('about.body.sivumbike_html')
  %div.container-fluid.about-container.about-container--patchwork
    %h2.about-title--mission.mt-1.mx-3.py-3.text-center= t('about.mission')
    %p.about-description--patchwork.about-description--paragraph= t('about.body.patchwork_html')
  %div.container-fluid.about-container.about-container--we.pb-5
    %p.about-description--we.about-description--paragraph= t('about.body.we')


.floating-logo.floating-logo--about#floating-logo
  %img.floating-logo-image{ src: image_path('main-page-logo.png') }

- content_for :turbolinks_pack do
  = javascript_pack_tag 'floating_logo', 'data-turbolinks-track': 'reload', 'defer': 'defer'

- content_for :page_specific_styles do
  = stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload'
