%div.container-fluid.about-title-container
  %h1.about-title.pb-5.text-center= t('about.title')

%div.container-fluid.px-0.about-description
  %div.container-fluid.about-container.about-container--sivumbike
    %p.about-description--sivumbike.about-description--paragraph= t('about.body.sivumbike_html')
  %div.container-fluid.about-container.about-container--patchwork
    %h2.mt-1.py-3.text-center= t('about.mission')
    %p.about-description--patchwork.about-description--paragraph= t('about.body.patchwork_html')
  %div.container-fluid.about-container.about-container--we.pb-5
    %p.about-description--we.about-description--paragraph= t('about.body.we')


- content_for :page_specific_styles do
  = stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload'
