%p
  = t('devise.mailer.hello', name: @resource.email)
%p= t('devise.mailer.someone_requested')
%p= link_to t('devise.sessions.change_my'), edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mailer.didnt_request')
%p= t('devise.mailer.wont_change')
