%div.collapse.navbar-collapse#navbar
  %ul.justify-content-around.navbar-nav.mr-auto
    %li.nav-item
      = link_to t('admin.categories'), admin_categories_path, class: 'nav-link'
    %li.nav-item
      = link_to t('admin.products'), admin_products_path, class: 'nav-link'
    %li.nav-item
      = link_to t('admin.messages'), admin_messages_path, class: 'nav-link'
    %li.nav-item
      = link_to t('admin.dashboard'), admin_root_path, class: 'nav-link'

  - if user_signed_in?
    = button_to t('sign_out'), destroy_session_path(current_user),
      method: :delete, class: 'btn btn-warning my-1', data: { turbolinks: false }
