%div.mt-md-0.collapse.navbar-collapse.justify-content-around#navbar
  %ul.nav-items.align-items-start.justify-content-around.navbar-nav.ml-n3.mx-md-0.w-100
    %li.nav-item
      = link_to t('about_us'), about_path, class: 'nav-link--custom'
    %li.nav-item
      = link_to t('_gallery'), gallery_path, class: 'nav-link--custom'
    %li.nav-item
      = link_to t('_contact'), contact_path, class: 'nav-link--custom'
    - if user_signed_in? && current_user.role == 'admin'
      %li.nav-item
        = link_to t('admin.dashboard'), admin_root_path, class: 'nav-link--custom'

  - if user_signed_in?
    = link_to t('sign_out'), destroy_session_path(current_user),
      method: :delete, class: 'btn btn-warning'
