%footer.container.p-2.clearfix
  = succeed ' | ' do
    = link_to t('_about'), about_path
  = link_to t('_contact'), contact_path

  %div.btn-group.dropup.float-right
    %button.btn.btn-sm.btn-secondary.dropdown-toggle{ |
      type: 'button', |
      data: { toggle: 'dropdown', offset: '0,10' }, |
      aria: { haspopup: 'true', expanded: 'false' } |
    } |
      = t('language')
    %div.dropdown-menu.dropdown-menu-right
      - I18n.available_locales.each do |locale|
        - if locale != I18n.default_locale
          = link_to t('locale_name', locale: locale), url_for(locale: locale.to_s),
              class: "dropdown-item #{'active' if locale == I18n.locale}"
        - else
          = link_to t('locale_name', locale: locale), url_for(locale: nil),
              class: "dropdown-item #{'active' if locale == I18n.locale}"
