%footer.footer.container-fluid.d-flex.justify-content-around.align-items-center.flex-column
  %div.d-flex.flex-row.justify-content-between.align-items-center.w-100
    %ul.d-flex.my-3.text-white.list-inline.justify-content-around.align-self-start
      %li.d-inline-flex.list-inline-item.instagram--footer
        %a.h-100{ href: 'https://www.instagram.com/sivumbikes_of_patchwork/', target: '_blank' }
          %span.sr-only instagram
          %img.w-100{ src: image_path('share_icons/instagram_black.png') }

    %div.d-flex.align-items-center.justify-content-around
      - I18n.available_locales.each.with_index(1) do |locale, index|
        - if locale != I18n.default_locale
          = link_to t('locale_name', locale: locale), url_for(locale: locale.to_s),
              class: "footer-language #{'active' if locale == I18n.locale}"
        - else
          = link_to t('locale_name', locale: locale), url_for(locale: nil),
              class: "footer-language #{'active' if locale == I18n.locale}"
        - if index < I18n.available_locales.length
          %span.footer-separator
  %small.d-flex.align-self-center.text-white= "© 2020 Sivumbike Patchworks"
