%div.product-container.container-fluid
  %div.row.mx-auto.mb-2.clearfix.justify-content-center{ style: 'max-width: 60rem' }
    %h1.product-title.mx-auto.col-12= @product.name
    %div.col-lg-7.col-sm-12.product-carousel
      %div.w-100.carousel.slide#product-carousel
        %div.carousel-inner.product-carousel-inner
          %div.carousel-item.product-carousel-item.active
            %img{ src: @product.gallery_image.imgproxy_url(width: 522, height: 300), class: 'd-block w-100 product-carousel-image' }
          - if @product.detail_images.attached?
            - @product.detail_images.to_a.each do |image|
              %div.carousel-item.product-carousel-item
                %img{ src: image.imgproxy_url(width: 522, height: 300), class: 'd-block w-100 product-carousel-image' }
        %a.product-carousel-control.carousel-control-prev{ href: '#product-carousel', role: 'button', 'data-slide': 'prev' }
          %span.carousel-control-prev-icon.product-carousel-control-icon{ 'aria-hidden': true }
          %span.sr-only Prev
        %a.product-carousel-control.carousel-control-next{ href: '#product-carousel', role: 'button', 'data-slide': 'next' }
          %span.carousel-control-next-icon.product-carousel-control-icon{ 'aria-hidden': true }
          %span.sr-only Next
      %ol.carousel-indicators#carousel-indicators
        %li.product-carousel-indicator.active{ style: "background-image: url(#{@product.gallery_image.imgproxy_url(width: 64, height: 64)})", data: { target: '#product-carousel', 'slide-to': 0 } }
        - if @product.detail_images.attached?
          - @product.detail_images.to_a.each_with_index do |image, index|
            %li.product-carousel-indicator{ style: "background-image: url(#{image.imgproxy_url(width: 64, height: 64)})", data: { target: '#product-carousel', 'slide-to': index+1 } }
    %div.col-lg-5.col-sm-12
      %div.trix-content
        = @product.description.html_safe
      - if user_signed_in? && current_user.role == 'admin'
        %span.btn-group.mt-3
          = link_to t('edit'), edit_admin_product_path(@product), class: 'btn btn-sm btn-warning'

- content_for :turbolinks_pack do
  = javascript_pack_tag 'product', 'data-turbolinks-track': 'reload', 'defer': 'defer'

- content_for :page_specific_styles do
  = stylesheet_link_tag 'product', media: 'all', 'data-turbolinks-track': 'reload'
