!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Sivumbike Patchworks Admin
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload'
    = yield :turbolinks_pack
  %body
    = render :partial => 'navigation', locals: { type: 'admin' }
    - if notice.present?
      %div.alert.alert-success{ role: 'alert' }
        = notice
    - if alert.present?
      %div.alert.alert-danger{ role: 'alert' }
        = alert

    %div.container-lg
      = yield
