!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Sivumbike Patchworks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ lang: I18n.locale }
    = render :partial => 'navigation', locals: { type: 'app' }
    - if notice.present?
      %div.patchworks-alert.alert.alert-success{ role: 'alert' }
        = notice
    - if alert.present?
      %div.patchworks-alert.alert.alert-danger{ role: 'alert' }
        = alert

    = yield

    = render :partial => 'footer'

    = yield :turbolinks_pack
